.marginLeft {
  margin-left: 5%;
}
.margin2 {
  margin: 25%;
  padding: 25%;
}

.sizing {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.styling {
list-style: none;
margin-left: -10%;
}
.card {
  border: 5px;
  border-color: black;
  margin-bottom: 2px;
}